In [2]:
a=int(input("Enter the age"))
print ("Age is ",a)

if(a>18):
    print("person is eligible for voting")

else:
    ("person is not eligible for voating")

Age is  45
person is eligible for voting

In [5]:
a=int(input("Enter the number"))
print("Entered number is",a)

if(a%2==0):
    print("Number is even")

else:
    print("Number is odd ")

Entered number is 4
Number is even

In [8]:
a=int(input("enter the number"))
print("Entered number is:",a)

if a%7==0:
    print("Number is divisible by 7")
else:
    print("Number is not divisible by 7")

Entered number is: 30
Number is not divisible by 7

In [13]:
a=int(input("Enter the number"))
print("Entered number is",a)

if a%5==0:
    print("hello")
else:
    print("Bye")

Entered number is 56
Bye

In [16]:
Amount=0
unit=int(input("Enter units"))
print("unit is:",unit)

if unit<100:
    Amount=0

elif unit>100 and unit<=200:
    Amount=(unit-100)*5

elif unit>200:
    Amount=(unit-200)*10

print("Amount to pay is:",Amount)

unit is: 300
Amount to pay is: 1000

In [29]:
number=int(input("Enter the nuber"))
print("Entered number is:",number)
print("Last digit is:",number%10)

Entered number is: 56
Last digit is: 6

In [34]:
a=int(input("Enter the number is"))
print("Entered number is",a)

if a%3==0:
    print("Number is divisible of 3")

else:
    print("Number is not divisible by 3")

Entered number is 46
Number is not divisible by 3

In [36]:
a=int(input("Enter the marks:"))
print("Entered marks is",a )

if a>90:
    print("Grade A")

elif a>80 and a<=90:
    print("Grade B")

elif a>=60 and a<=80:
    print("Grade C")

elif a<60:
    print("Grade D")

Entered marks is 40
Grade D

In [1]:
p=int(input("Enter the price"))
print("Price is:",p)

if p>1000:
    p= 15/100*p

elif p>50000 and p<=100000:
    p= 10/100*p

elif p<=50000:
    p= 5/100*p

print("Road tax to be paid is:",p)

Price is: 50000
Road tax to be paid is: 7500.0

In [8]:
year=int(input("Enter the year"))
print("Enter the year is:",year)

if year%4==0 and year%100!=0 or year%400==0:
    print("Year is leap year")

else:
    print("year is not leap year")

Enter the year is: 59
year is not leap year

In [10]:
num=int(input("Enter the day"))
print("Enter the day:")

if num==1:
    print("sunday")

if num==2:
    print("Monday")

if num==3:
    print("Tuesday")

if num==4:
    print("Wednesday")

if num==5:
    print("Thurday")

Enter the day:

In [5]:
#string formating uding formate method
print("{a},{b},{c}".format(a="abc",b="bcs",c="abg"))

abc,bcs,abg

In [7]:
print("{1},{0}".format("dharmik","Hirpara"))

Hirpara,dharmik

In [13]:
list=[1,2,3,4,5,6,7]
print(list)
 
list[2]=10
print(list)

list[1:5]
print(list)

[1, 2, 3, 4, 5, 6, 7]
[1, 2, 10, 4, 5, 6, 7]
[1, 2, 10, 4, 5, 6, 7]

In [15]:
list=[1,2,3,4,5,6]
print(6 in list)

True

In [18]:
lst=(("Dharmik","Arvind","Hirpara"))
if "Dharmik" in lst:
    print("yes")
else:
    print("no")

yes

In [23]:
lst1=("Dharmik")
lst2=(" Hirpara")
combinedlist= lst1+ lst2
print("Combined list is: ",combinedlist)

Combined list is:  Dharmik Hirpara

In [31]:
lst=[1,2,3]
lst2= lst*3
print(lst2)

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [30]:
lst=[1,2,3,4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [36]:
lst=[1,2,3,4]
lst.insert(2,7)
print(lst)

[1, 2, 7, 3, 4]

In [67]:
str1="morning"
str2=str1[0:6:3]
print(str2)

mn

In [47]:
lst=["Dhartmik","Hirpara"]
lst.insert(2,"jfjh")
# lst.extend(lst2)
print(lst)

['Dhartmik', 'Hirpara', 'jfjh']

In [68]:
lst=[1,2,3,3,4,5,6,7]
lst.pop()
print(lst)

lst.pop(4)
print(lst)

[1, 2, 3, 3, 4, 5, 6]
[1, 2, 3, 3, 5, 6]

In [73]:
lst1=[1,2,3,4,5,6,7,8,9,10]
lst2=lst1[1:11:2]
print(lst2)

[2, 4, 6, 8, 10]

In [82]:
lst=[1,7,-10,34,2,-8]
sum=0
for i in lst:
  sum+= i
print(sum)

26

In [99]:
lst=[1,2,3,4]
total=1
for i in lst:
  total*= i
print(total)

24

In [105]:
lst=[1,7,10,34,2,8]
print(max(lst))

34

In [107]:
lst=[1,4,56,78]
print(min(lst))

1

In [117]:
lst=[1,2,3,4,5]
print("max number is",max(lst))

max number is 5