In [52]:
print("hello")

hello

In [53]:
a=5
print("type is ",type(a))

type is  <class 'int'>

In [54]:
b=9.0
print("type is",type(b))

type is <class 'float'>

In [44]:
c=1+8j
print("type is ",type(c))
print("this is complex",isinstance(1+8j,complex))

type is  <class 'complex'>
this is complex True

In [45]:
list1=[1,"dharmik",3]
print("type is ",type(list1))
print("list1=",list1)
print(list1[3:])
print(list1[0:2])

type is  <class 'list'>
list1= [1, 'dharmik', 3]
[]
[1, 'dharmik']

In [46]:
tup=(1,2,"askdn","fsdfs")
print(type(tup))

<class 'tuple'>

In [47]:
tup=(12,13,"dharmik")
print(tup[0:3])
print(tup+tup)

(12, 13, 'dharmik')
(12, 13, 'dharmik', 12, 13, 'dharmik')

In [48]:
d={1:'Dharmik',2:'Hirpara'}
print(d.keys())

dict_keys([1, 2])

In [49]:
d={1:'fknd',9:'dfd'}
print(d.values())

dict_values(['fknd', 'dfd'])

In [50]:
set1= set()
set2={'jimmy','jammu',2,4}
set2.add(10)
print(set2)
set2.remove(2)
print(set2)

{2, 4, 10, 'jammu', 'jimmy'}
{4, 10, 'jammu', 'jimmy'}

In [55]:
import keyword
print("the set of keyword in this version is")
print(keyword.kwlist)

the set of keyword in this version is
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
def no_return_function():
    num1=10
    num2=20
    addition=num1+num2
    number=no_return_function()
    print(number)

In [12]:
for i in range(12):
 if (i==10):
  break
 print("5 x", i+1,"=", 5* (i+1))
print ("interation is breaked")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
interation is breaked

In [16]:
for i in range(12):
 if(i==10):
  continue
 print("5 x", i+1,"=", 5*(i+1))
print("skip the loop")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 12 = 60
skip the loop

In [53]:
i = 1
while i < 12:
 if i == 10:
   i += 1
   continue
 print("5 x", i,"=", 5*(i))
 i += 1
print("skip the loop")

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 11 = 55
skip the loop

In [65]:
a=int(input("Enter a number"))
print("enterd value is: ",a)

for i in range(1,11): 
    print(a, 'x', i,"=", a*(i))

enterd value is:  45
45 x 1 = 45
45 x 2 = 90
45 x 3 = 135
45 x 4 = 180
45 x 5 = 225
45 x 6 = 270
45 x 7 = 315
45 x 8 = 360
45 x 9 = 405
45 x 10 = 450

In [70]:
a = int(input("Enter a number: "))
print("Entered value is: ", a)

i = 1
while i <= 10:
    print(a, 'x', i, "=", a * i)
    i += 1

Entered value is:  34
34 x 1 = 34
34 x 2 = 68
34 x 3 = 102
34 x 4 = 136
34 x 5 = 170
34 x 6 = 204
34 x 7 = 238
34 x 8 = 272
34 x 9 = 306
34 x 10 = 340