In [8]:
b="DHARMIK"
a=list(b)
print(a)

['D', 'H', 'A', 'R', 'M', 'I', 'K']

In [9]:
empty_tuple=()
print("Entered tuple is",empty_tuple)

Entered tuple is ()

In [10]:
int_tuple=(1,2,3,4,5,6)
print("Entered number is",int_tuple)

Entered number is (1, 2, 3, 4, 5, 6)

In [12]:
nested_tuple=("Dharmik",{4:5,3:6},1,3)
print(nested_tuple)

('Dharmik', {4: 5, 3: 6}, 1, 3)

In [25]:
#convert tuple into list and them append item 7 at the index of 3
x = (1,2,3,4,5,6)

a = list(x)
print(a)
a[3] = 7
print(a)

x= tuple(a)
print(x)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 7, 5, 6]
(1, 2, 3, 7, 5, 6)

In [45]:
x = ("hi","hello",1,2,3,4,5,6)
a = list(x)

a.insert(2,(45,23,"Dharmik"))

x=tuple(a)
print(x)

('hi', 'hello', (45, 23, 'Dharmik'), 1, 2, 3, 4, 5, 6)

In [41]:
x = ("hi","hello",1,2,3,4,5,6)
a = list(x)

a.extend((2,45,23))

x=tuple(a)
print(x)

('hi', 'hello', 1, 2, 3, 4, 5, 6, 2, 45, 23)

In [48]:
x = ("hi","hello",1,2,3,4,5,6)
a = list(x)

a.append([2,3,4])

x=tuple(a)
print(x)

('hi', 'hello', 1, 2, 3, 4, 5, 6, [2, 3, 4])

In [50]:
#Accesimg tuple elements
x=(1,2,3,4,5)
print(x[0])

1

In [52]:
# using iteration how it works
x=(1,2,3,4,5,6)
for i in x:
    print(i)

1
2
3
4
5
6

In [70]:
 
Tuple_data = (0, 1, 2, 3, 2, 3, 1, 3, 2) 

res = Tuple_data.index(3)  
print('First occurrence of 3 is', res)  

res = Tuple_data.index(3, 7)  
print('First occurrence of 3  after 4th index is:', res)

First occurrence of 3 is 3
First occurrence of 3  after 4th index is: 7

In [78]:
# exaple of membership in tuple
tup1="Dharmik","Hirpara","Bobby"
print("Dharmik" in tup1)
print("Bobbyyy" in tup1)

True
False

In [80]:
# using iteraye over the element
t=(1,2,3,4,5,6)
for item in t:
    print(item)

1
2
3
4
5
6

In [83]:
    
tuple_ = ("Python", "Tuple", "Ordered", "Immutable", [1,2,3,4])    
        
    
tuple_[-1][2] = 10     
print(tuple_)    
   
tuple_ = ("Python", "Items")    
print(tuple_)

('Python', 'Tuple', 'Ordered', 'Immutable', [1, 2, 10, 4])
('Python', 'Items')

In [85]:
#adding tuple as tuple
a=(1,2,3,4,5)
print(a+(6,7,8))

(1, 2, 3, 4, 5, 6, 7, 8)

In [95]:
#reverse the tuple
tuple1 = (1,2,3,4,5,6)
tuple2 = tuple1[ ::-1]
print(tuple2)

(6, 5, 4, 3, 2, 1)

In [98]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))
tuple2 = tuple1[1][1]
print(tuple2)

20

In [102]:
tuple1= 50
print(tuple1)

50

In [111]:
# Unpack the tuple into 4 variables
tuple1= 1,2,3,4
a,b,c,d = tuple1
print(a)
print(b)
print(c)
print(d)

1
2
3
4

In [120]:
# swaping of tuples
tuple1 = (11,22)
tuple2 = (88,99)

tuple1, tuple2 = tuple2, tuple1
print("tuple1",tuple1)
print("tuple2",tuple2)

tuple1 (88, 99)
tuple2 (11, 22)

In [129]:
tuple=(1,2,3,4,2,5,2,6,7)
print(tuple[4:-1])

(5, 6)

In [132]:
# replace 
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][0] = 222
print(tuple1)

(11, [222, 33], 44, 55)

In [136]:
tuple1 = (50, 10, 60, 70, 50)
print(tuple1.count(50))

2